<ion-header>
  <ion-toolbar color="primary">
    <ion-title  style="text-align: center;" >SOFTWARE MUSICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #372061;">
  <div class="login-container">
    <ion-img src="../../../assets/icon/485a5d99-5dca-4da1-a45d-d33fb76b3c6c.jfif" alt="Logo" class="login-img"></ion-img>
    <h1 class="login-title">Login</h1>


     <!-- Imagen de bienvenida o logo -->

    <!-- Campo de Contraseña -->
    <ion-item class="input-item">
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Contraseña"
        class="input-field"
        style="text-align: center;">
      </ion-input>
    </ion-item>

    <!-- Botón para iniciar sesión -->
    <ion-button expand="full" (click)="login()" class="login-button">
      Iniciar sesión
    </ion-button>
  </div>


 <!-- R.E.C en la esquina inferior derecha -->
  <div class="rec-text">
    R.E.C
  </div>

  

</ion-content>
